<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>(runoob.com)</title>
</head>
<body>
 
    <h1 style="background-color:rgb(184, 184, 174);text-align:center;" >Outdoor Air Quality Detection For Travelers </h1>
 
<p>Welcome to air quality group!</p>
<p>This is case1 : Outdoor air quality detection for travelers</p>
<ul style="list-style-type:disc"></ul>
<li>Connect air quality data to travel planners so that they can see if they should take a different route for their outdoor activities</li>
<li>Connect with open API to get the weather report together with air quality</li>   
<li>Travelers get the data from our web page</li>
</ul>

<table border = 1>
    <tr>
        <th> Sec </th>
        <th> PM0_3</th>
        <th> PM0_5</th>
        <th> PM1</th>
        <th> PM2_5</th>
        <th> PM5</th>
        <th> PM10</th>
    </tr>
     {% for i in range(1,6) %}
    <tr>
        <th> {{ rows[-i]['Sec'] }} </th>
        <th> {{ rows[-i]['PM0_3'] }} </th>
        <th> {{ rows[-i]['PM0_5'] }} </th>
        <th> {{ rows[-i]['PM1'] }} </th>
        <th> {{ rows[-i]['PM2_5'] }} </th>
        <th> {{ rows[-i]['PM5'] }} </th>
        <th> {{ rows[-i]['PM10'] }}</th>
    </tr>
 {% endfor %}
</table>
<!-- 这是一个注释 -->



</body>
</html>